<%= form_for ([@user, @trip]) do |f| %>
  <h2 class="form-group row">Book A Trip</h2>


  <div class="form-group row">
    <h2 class="form-group row">Choose Plan Page</h2>
    <%= radio_button_tag(:plan, "Single emergency Medical") %>
    <%= label_tag(:plan, "Single emergency Medical") %>
    <%= radio_button_tag(:plan, "Single trip all-inclusive") %>
    <%= label_tag(:plan, "Single trip all-inclusive") %>
    <%= radio_button_tag(:plan, "Trip cancellation/interruption") %>
    <%= label_tag(:plan, "Trip cancellation/interruption") %>
  </div>

  <div class="form-group row">
    <h3 class="form-group row">Special Plans</h3>
    <%= radio_button_tag(:plan, "Multi-trip Emergency Medical") %>
    <%= label_tag(:plan, "Multi-trip Emergency Medical") %>
    <%= radio_button_tag(:plan, "Multi-Trip All Inclusive") %>
    <%= label_tag(:plan, "Multi-Trip All Inclusive") %>
    (*special // Only has single and couple)
  </div>


  <h2 class="form-group row">DOB Page</h2>
  <div class="form-group row">
    <%= f.label :birthday %>
    <%= f.date_select :birthday, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :order => [:day, :month, :year], :start_year=>Date.today.year,:end_year=>1900, :class => "form-control", :id => "birthday" %>
  </div>

  <div class="form-group row">
    <%= f.label :coverage %>
    <%= f.select :coverage, options_for_select(["10,000", "25,000", "50,000", "75,000", "100,000"]), :class => "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :order => [:day, :month, :year], :start_year=>Date.today.year, :end_year=>Date.today.year + 5, :class => "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, :order => [:day, :month, :year], :start_year=>Date.today.year, :end_year=>Date.today.year + 5, :class => "form-control" %>
  </div>

  <%= f.submit 'See options!', :class => "btn btn-primary form-group row", :id => "see_options", data: { disable_with: false } %>

  <div id="coverage_results_container">
  </div>

<% end %>
