<h2>Book A Trip</h2>

<%= form_for ([@user, @trip]), :html=> { class: 'form-group' } do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control" %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control" %>

  <%= f.label :birthday %>
  <%= f.datetime_select :birthday, :class => "form-control" %>

  <%= f.label :start_date %>
  <%= f.datetime_select :start_date, :class => "form-control" %>

  <%= f.label :end_date %>
  <%= f.datetime_select :end_date, :class => "form-control" %>

  <%= f.submit 'See options!' %>

<% end %>
