<%= form_for ([@user, @trip]) do |f| %>
  <h2 class="form-group row">Book A Trip</h2>

  <%= render "#{@trip.current_step}_step", f: f %>

  <%= f.submit 'Back', :class => "btn btn-primary", :name => "back_button" unless @trip.first_step? %>

  <%= f.submit 'Continue', :class => "btn btn-primary", :name => "continue_button" unless @trip.eligibility_step? %>

  <% if @trip.eligibility_step? %>
    <%= f.submit 'See Plans', :class => "btn btn-primary", :name => "continue_button" %>
  <% end %>

  <div id="coverage_results_container">
  </div>

<% end %>
