<h2>Policies go here!</h2>

<ul class="list-group">
  <li class="list-group-item">Number of days travelling: <%= @days %> | Age: <%= @age %></li>
  <% @policies.each do |policy| %>
    <li class="list-group-item"><%= policy.company.name %></li>
    <li class="list-group-item">$<%= policy[@coverage].round(2) %> per day</li>
    <li class="list-group-item">$<%= (policy[@coverage]*@days).round(2) %> for <%= @days %> days</li>
    <li class="list-group-item"><%= radio_button_tag(:company, policy.company.name, true) %><%= label_tag(:company, "Select" + " " + policy.company.name) %>
  <% end %>
  <li class="list-group-item"><button id="submit_form" class="btn btn-primary">Submit Form</button>
</ul>
