<h2>Policies go here!</h2>

<ul class="list-group">
  <li class="list-group-item">Number of days travelling: <%= @days %> | Age: <%= @age %></li>
  <% @policies.each do |policy| %>
    <li class="list-group-item"><%= policy.company.name %></li>
    <li class="list-group-item">$<%= policy[@coverage].round(2) %> per day</li>
    <li class="list-group-item">$<%= (policy[@coverage]*@days).round(2) %> for <%= @days %> days</li>
    <li class="list-group-item"><%= radio_button_tag(:policy, [policy.id, policy[@coverage]]) %><%= label_tag(:policy, "Select" + " " + policy.company.name) %>
  <% end %>
  <li class="list-group-item"><input type="submit" value="Submit" form="new_trip"></li>
</ul>
